@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html {font-size: 15px} /* 1rem - root em - em */

body {
    color: rgb(76 94 85 / 98%);
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    background-color:#ffffff;
    background-image: url('./shapes-background-pattern.jpg');
    background-repeat: repeat-y;
    background-size: 80%;
    background-position: right;
    /* background: 
        url('./shapes-background-pattern.jpg') right/80%  repeat-y,
         url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAAXNSR0IArs4c6QAAAD9JREFUKFONkNEKACAIA8///2jDwCinkG9uh04NLQesylVISOAbrObTJ9iuA44e4ARlzO1L6Oa4kPwX1DcME1n5/goIOM5KEQAAAABJRU5ErkJggg==) top left repeat, 
        linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(249,179,32,1) 100%); */
} 
.p, p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: hsl(0deg 50% 18%);
/*    background-color:#fff; */
    
}
.h6, h6 {
    color: rgb(241 124 130);
 /*   background-color:rgb(255, 255, 255); */
    font-size: 1.33rem;
    font-weight: 700;
    font-style: bold;
    letter-spacing: 0.1em;
} /* 20px / 15 = 1.33 rema*/
.h5, h5 {
    color: rgb(168 208 146);
    font-size: 1.66rem;
    font-weight: 700;
    letter-spacing: 0.1em;
}
.h4, h4 {
    color: rgb(249 179 32);
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.1em;
}
.h3, h3 {
    color: rgb(70 187 181);
    font-size: 2.33rem;
    font-weight: 700;
    letter-spacing: 0.1em;
}
.h2, h2 {
    color: rgb(134 27 97);
    font-size: 2.66rem;
    font-weight: 700;
    letter-spacing: 0.1em;
}
.h1, h1 {
    color: rgb(32 111 56);
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.1em;
}
.text-align-left { text-align: left; }
.text-align-right { text-align: right; }
.text-align-center { text-align: center; }
.text-align-justify { text-align: justify; }
.link { text-decoration: none;
}

.fancy {
    color:  #2f7ec1; 
    font-size: 3rem;
    letter-spacing: 1.0em;
    font-weight: 500;
    background-color:#ffffff;
    text-shadow:
    0px 0px 0px rgb(221, 228, 208),
    3px 3px 0px #e1e42b,
    4px 5px 0px #ce41e1,
    5px 6px 0px blueviolet;
}

.highlight {
    color: hsl(0deg 50% 18%);
    background: rgba(34,193,195,1); 
}

#text {
    background-color: white;
}
p::selection {
    background: rgba(249,179,32,1);
  }

#headings {
    background-size: 25%;
}

.wrapper {
    max-width: 1024px;
    width: 100%;
    /* margin-left:auto ;
    margin-right: auto;
    margin: top right bottom left;
    margin: 0 auto 0 auto; */
    margin: 0 auto;
    padding: 0 16px;
    box-sizing: border-box; 
    
}
.cookie-consent {
    color: black;
    background-color: rgb(249 179 32);
    padding: 16px;
    /* width: auto; */
    width: 320px;
    box-sizing: border-box;
    /* border: none; */
    border-radius: 40px 10px;
    
   
    
}

.cookie-consent-text {
    margin-right: 16px;
    

}
.cookie-consent-yes {
    text-decoration: underline;
    font-weight: bold;
    margin-right: 16px;

}
.cookie-consent-no {
    text-decoration: underline;
}

