@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html {font-size: 15px} /* 1rem - root em - em */

body {
    color: rgb(76 94 85 / 98%);
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    background-color:#ffffff;
    background-image: url('./shapes-background-pattern.jpg');
    background-repeat: repeat-y;
    background-size: 80%;
    background-position: right ;
} 
.p, p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
/*    background-color:#fff; */
    
}
.h6, h6 {
    color: rgb(241 124 130);
 /*   background-color:rgb(255, 255, 255); */
    font-size: 1.33rem;
    font-weight: 700;
    font-style: bold;
    letter-spacing: 0.1em;
} /* 20px / 15 = 1.33 rema*/
.h5, h5 {
    color: rgb(168 208 146);
    font-size: 1.66rem;
    font-weight: 700;
    letter-spacing: 0.1em;
}
.h4, h4 {
    color: rgb(249 179 32);
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.1em;
}
.h3, h3 {
    color: rgb(70 187 181);
    font-size: 2.33rem;
    font-weight: 700;
    letter-spacing: 0.1em;
}
.h2, h2 {
    color:rgb(134 27 97);
    font-size: 2.66rem;
    font-weight: 700;
    letter-spacing: 0.1em;
}
.h1, h1 {
    color:rgb(32 111 56);
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.1em;
}
.text-align-left { text-align: left; }
.text-align-right { text-align: right; }
.text-align-center { text-align: center; }
.text-align-justify { text-align: justify; }
.link { text-decoration: none;
}

.fancy {
   /* color: #fff; */
   font-size: 1rem;
   letter-spacing: 0.1em;
    text-shadow:
    1px 0px 1px red,
    -1px 0px 0px green,
    0px 1px 0px blue,
    0px 1px 0px yellow;
}

.highlight {
    color: hsl(0deg 50% 18%);
    background: rgb(168 208 146); 
}

#text {
    background-color: white;
}
p::selection {
    background: rgb(168 208 146);
  }

#headings {
    background-size: 25%;
}

