@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html {font-size: 15px} /* 1rem - root em - em */

body {
    color: whitesmoke;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 1;
    background-color:#ca8989e6;
    background-image: url('./modern-art.jpg');
    background-repeat: repeat-y;
    background-size: 240px;
    background-position: left;
} 
.p, p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color:#ca8989e6;
}
.h6, h6 {
    color: #fff;
    background-color:#ca8989e6;
    font-size: 1.33rem;
    font-weight: 700;
    font-style: bold;
} /* 20px / 15 = 1.33 rema*/
.h5, h5 {
    font-size: 1.66rem;
    font-weight: 700;
}
.h4, h4 {
    font-size: 2rem;
    font-weight: 700;
}
.h3, h3 {
    font-size: 2.33rem;
    font-weight: 700;
}
.h2, h2 {
    font-size: 2.66rem;
    font-weight: 700;
}
.h1, h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.5;
}
.text-align-left { text-align: left; }
.text-align-right { text-align: right; }
.text-align-center { text-align: center; }
.text-align-justify { text-align: justify; }
.link {
    text-decoration: none;
}

.fancy {
    color: #fff;
    text-shadow:
    1px 0px 1px red,
    -1px 0px 0px green,
    0px 1px 0px blue,
    0px 1px 0px yellow;
}

.highlight {
    color: #fff;
    text-shadow:
    1px 0px 1px red,
    -1px 0px 0px green,
    0px 1px 0px blue,
    0px 1px 0px yellow;
    background-color: #fff ;
  
}

